.course-content ul.usqflexopen {margin:0;}
.course-content ul.usqflexopen li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.usqflexopen li.section .content {margin:0 40px;}
.course-content ul.usqflexopen li.section .left,
.course-content ul.usqflexopen li.section .right {width:40px;padding: 0 6px;}
.course-content ul.usqflexopen li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.usqflexopen li.section .left {padding-top:22px;text-align: right;}
.jsenabled .course-content ul.usqflexopen li.section .left,
.jsenabled .course-content ul.usqflexopen li.section .right {width:auto;}
.course-content ul.usqflexopen li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }
.course-content ul.usqflexopen li.section .section_action_menu .textmenu,
.course-content ul.usqflexopen li.section .section_action_menu .menu-action-text { white-space: nowrap; }

.course-content ul.usqflexopen li.section .sectiontype {
    display: inline-block;
    padding: 0.25rem 0.4rem;
    font-size: 60%;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    vertical-align: baseline;
    float: right;
    border-radius: 0.25em;
}
.course-content ul.usqflexopen li.section .sectiontype-assess { background-color: #b94a48; }
.course-content ul.usqflexopen li.section .sectiontype-getstarted { background-color: #333333; }
.course-content ul.usqflexopen li.section .sectiontype-week { background-color: #468847; }
.course-content ul.usqflexopen li.section .sectiontype-topic { background-color: #3a87ad; }
