/* Styles common to all themes. */

body.format-usqflexopen .course-content .sectionname .weeknum,
body.format-usqflexopen .course-content .section-title .weeknum {
    font-size: 1rem;
    color: #aaa;
    padding-left: 1em;
}

body.format-usqflexopen .course-content .sectionname .sectiontype,
body.format-usqflexopen .course-content .section-title .sectiontype {
    display: inline-block;
    padding: 0.2rem 0.3rem;
    font-size: 65%;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    float: right;
    border-radius: 0.3rem;
    border: 2px solid;
}
body.format-usqflexopen .course-content .sectionname .sectiontype-assess,
body.format-usqflexopen .course-content .section-title .sectiontype-assess {
    background-color: #b94a48;
    border-color: #b94a48;
}
body.format-usqflexopen .course-content .sectionname .sectiontype-getstarted,
body.format-usqflexopen .course-content .section-title .sectiontype-getstarted {
    background-color: #333;
    border-color: #333;
}
body.format-usqflexopen .course-content .sectionname .sectiontype-week,
body.format-usqflexopen .course-content .section-title .sectiontype-week {
    background-color: #468847;
    border-color: #468847;
}
body.format-usqflexopen .course-content .sectionname .sectiontype-topic,
body.format-usqflexopen .course-content .section-title .sectiontype-topic {
    background-color: #3a87ad;
    border-color: #3a87ad;
}
body.format-usqflexopen .course-content .hidden .sectionname .sectiontype,
body.format-usqflexopen .course-content .hidden .section-title .sectiontype {
    background-color: transparent;
    color: #6c757d;
}

#page-course-view-usqflexopen .usqflexopen-actions {
    text-align: right;
    list-style: none;
}
#page-course-view-usqflexopen .usqflexopen-actions li {
    display: inline;
    margin-left: 1em;
}
#page-course-view-usqflexopen .usqflexopen-actions .smallicon {
    padding-right: 0.25em;
}
